# Campaign Efficiency Analysis

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Customer Segmentation
- We will seperate customer segmentation data from the main data.
- Segmentation data that will seperate contains Age groups, Gender, Income level, Interests, Location, and Device type.
- Because income level didn't exist, I will predict it using calculate summition average of ROI, Engagement_Score, Clicks, and Impressions. Then scale it 0–1 → Predicted Income Category.
- I avoid put device type because all the users use apps open mostly from the phone.
- Case of the sex of customers and thier ages range put in the same column I will sperate this.

In [16]:
df = pd.read_csv('Data/Social_Media_Advertising/Social_Media_Advertising.csv')
Segment = pd.read_csv('Data/Social_Media_Advertising/Customer_Segmentation.csv')
Performance = pd.read_csv("Data/Social_Media_Advertising/Audience_Performance.csv")

In [7]:
df.head()

,Campaign_ID,Campaign_Goal,Duration,Channel_Used,Acquisition_Cost,Language,Engagement_Score,Date,Company
0,529013,Product Launch,15 Days,Instagram,500.0,Spanish,7,2/25/2022,Aura Align
1,275352,Market Expansion,15 Days,Facebook,500.0,French,5,5/12/2022,Hearth Harmony
2,692322,Product Launch,15 Days,Instagram,500.0,Spanish,9,6/19/2022,Cyber Circuit
3,675757,Increase Sales,15 Days,Pinterest,500.0,Spanish,1,9/8/2022,Well Wish
4,535900,Market Expansion,15 Days,Pinterest,500.0,French,1,8/24/2022,Hearth Harmony

In [8]:
Segment.head()

,Campaign_ID,Location,Interest,Income_Signal,Income_Category,Gender,Age_Start,Age_End
0,529013,Las Vegas,Health,703.716000,Low,Men,35.0,44.0
1,275352,Los Angeles,Home,703.884000,Low,Women,45.0,60.0
2,692322,Austin,Technology,701.972000,Low,Men,45.0,60.0
3,675757,Miami,Health,446.563929,Low,Men,25.0,34.0
4,535900,Austin,Home,446.769131,Low,Men,45.0,60.0

In [17]:
Performance.head()

,Campaign_ID,Clicks,Impressions,ROI,Conversion_Rate,Acquisition_Cost,CTR,CPC
0,529013,500,3000,5.790000,0.15,500.0,16.666667,1.000000
1,275352,500,3000,7.210000,0.01,500.0,16.666667,1.000000
2,692322,500,3000,0.430000,0.08,500.0,16.666667,1.000000
3,675757,293,1937,0.909824,0.03,500.0,15.126484,1.706485
4,535900,293,1937,1.422828,0.13,500.0,15.126484,1.706485